<div class="module_container">

  <div class="module_header">
    <span>Lambda Function Details</span>
  </div>

  <div class="aruba_flex aruba_tag">

    <div class="row">
      <div class="small-9 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">AWS ID</span>
          </div>
          <div class="small-6 columns">
            <input type="text" value="{{account.account}}" disabled>
          </div>
          <div class="small-2 columns">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-9 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">Function Name</span>
          </div>
          <div class="small-6 columns">
            <input name="name" type="text" value="{{Configuration.FunctionName}}" saved="{{Configuration.FunctionName}}" disabled>
          </div>
          <div name="name" class="small-2 columns">
            <span class="edit"><a href="#"><img src="images/edit-line.png" title="Edit"></a></span>
            <span class="update" style="display:none"><a href="#"><img src="images/ok-line.png" title="Update"></a></span>
            &nbsp;&nbsp;<span class="cancel" style="display:none"><a href="#"><img src="images/cancel-line.png" title="Cancel"></a></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-9 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">Description</span>
          </div>
          <div class="small-6 columns">
            <input name="description" type="text" value="{{Configuration.Description}}" saved="{{Configuration.Description}}" disabled>
          </div>
          <div name="description" class="small-2 columns">
            <span class="edit"><a href="#"><img src="images/edit-line.png" title="Edit"></a></span>
            <span class="update" style="display:none"><a href="#"><img src="images/ok-line.png" title="Update"></a></span>
            &nbsp;&nbsp;<span class="cancel" style="display:none"><a href="#"><img src="images/cancel-line.png" title="Cancel"></a></span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
