<td class="sorting_1"><a href="#aws_accounts/{{account.id}}/lambdas/{{FunctionName}}">{{FunctionName}}</a></td>
<!--<td>{{FunctionArn}}</td>
<td>{{Runtime}}</td>
<td>{{Role}}</td>
<td>{{Handler}}</td>
<td>{{CodeSize}}</td>-->
<td>{{Description}}</td>
<td>{{Timeout}}</td>
<td>{{MemorySize}}</td>
<td>{{LastModified}}</td>
<!--<td>{{CodeSha256}}</td>
<td>{{Version}}</td>-->
